{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty | {% block title %}{% endblock %}</title>

    <link rel="icon" href="{% static 'images/logo.png' %}" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.2/dist/sandstone/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="{% static 'js/script.js' %}"></script>
</head>

<body class="bg-light">
    {% if not '-login' in request.resolver_match.url_name|default:'' %}
    <nav class="navbar navbar-expand-lg bg-dark shadow-lg sticky-top">
        <div class="container-fluid px-5 py-2">
            <button class="btn btn-rounded btn-outline-light border-3" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasWithBothOptions">
                <i class="fa-solid fa-bars fs-4"></i>
            </button>

            <div class="navbar-nav ms-auto">
                <a class="nav-link d-flex align-items-center" aria-current="page" href="{% url 'faculty-profile' %}">
                    <img src="{{ profile_pic.url }}" alt="Faculty Profile"
                        class="img-fluid rounded-circle border border-2 border-light" width="40">
                    <div class="d-none d-md-inline ms-2">
                        <div class="text-white lh-1">{{ first_name }} {{ last_name }}</div>
                        <div class="text-secondary lh-1">{{ faculty_id }}</div>
                    </div>
                </a>
            </div>
        </div>
    </nav>
    {% endif %}

    <div class="offcanvas offcanvas-start bg-light" data-bs-scroll="true" tabindex="-1" id="offcanvasWithBothOptions">
        <div class="offcanvas-header border-bottom">
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>

        <div class="text-center mb-4 container p-3">
            <a href="{% url 'index' %}" class="text-decoration-none">
                <img src="{% static 'images/navbar_logo.png' %}" alt="Academy" height="100" class="img-fluid">
            </a>
        </div>

        <div class="px-3">
            <div class="list-group">
                <a href="{% url 'faculty-dashboard' %}"
                    class="list-group-item list-group-item-action py-3 rounded-3 mb-2 d-flex align-items-center">
                    <i class="fa-solid fa-display fa-fw me-3"></i>
                    <span class="fw-semibold">Dashboard</span>
                </a>
                <a href="{% url 'faculty-advisory' %}"
                    class="list-group-item list-group-item-action py-3 rounded-3 mb-2 d-flex align-items-center">
                    <i class="fa-solid fa-school-flag fa-fw me-3"></i>
                    <span class="fw-semibold">Advisory Class</span>
                </a>
                <a href="{% url 'faculty-subjects' %}"
                    class="list-group-item list-group-item-action py-3 rounded-3 mb-2 d-flex align-items-center">
                    <i class="fa-solid fa-book fa-fw me-3"></i>
                    <span class="fw-semibold">Subjects</span>
                </a>
                <a href="{% url 'faculty-schedule' %}"
                    class="list-group-item list-group-item-action py-3 rounded-3 mb-2 d-flex align-items-center">
                    <i class="fa-solid fa-calendar fa-fw me-3"></i>
                    <span class="fw-semibold">Schedule</span>
                </a>
                <a href="{% url 'faculty-gradebooks' %}"
                    class="list-group-item list-group-item-action py-3 rounded-3 mb-2 d-flex align-items-center">
                    <i class="fa-solid fa-rectangle-list fa-fw me-3"></i>
                    <span class="fw-semibold">Gradebooks</span>
                </a>
                <a href="{% url 'faculty-announcements' %}"
                    class="list-group-item list-group-item-action py-3 rounded-3 mb-2 d-flex align-items-center">
                    <i class="fa-solid fa-bullhorn fa-fw me-3"></i>
                    <span class="fw-semibold">Announcements</span>
                </a>
            </div>
        </div>

        <div class="mt-auto px-3 mb-3">
            <div class="list-group">
                <a href="{% url 'faculty-chat-view' %}"
                    class="list-group-item list-group-item-action py-3 rounded-3 mb-2 d-flex align-items-center">
                    <i class="fa-solid fa-headset fa-fw me-3"></i>
                    <span class="fw-semibold">Support & Feedback</span>
                </a>
                <form method="post" action="{% url 'faculty-logout' %}">
                    {% csrf_token %}
                    <button type="submit"
                        class="list-group-item list-group-item-action text-danger rounded-3 py-3 d-flex align-items-center">
                        <i class="fa-solid fa-right-from-bracket fa-fw me-3"></i>
                        <span class="fw-semibold">Logout</span>
                    </button>
                </form>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
</body>

</html>