{% extends 'base.html' %}

{% block title %}{{post.title}}{% endblock %}

{% block content %}
<div class="container py-5">
    <div class="row justify-content-center mb-3">
        <div class="col-lg-8 text-center">
            <span class="badge text-bg-secondary rounded-pill mb-3">{{ post.category }}</span>

            <h1 class="fw-bold mb-4 display-4">{{ post.title }}</h1>

            <div class="d-flex justify-content-center align-items-center text-body-secondary mb-4">
                <small>
                    <i class="bi bi-person-fill me-1"></i>{{ post.author }}
                    <span class="mx-2">•</span>
                    <i class="bi bi-clock me-1"></i>{{ post.reading_time }} min read
                    <span class="mx-2">•</span>
                    <i class="bi bi-calendar3 me-1"></i>{{ post.date_posted|date:"M j, Y" }}
                </small>
            </div>

            <p class="lead text-body-secondary mb-3">{{ post.intro }}</p>
        </div>
    </div>

    <div class="row justify-content-center">
        <div class="col-lg-8">
            <hr class="border-2 my-5">

            <article class="fs-5 lh-lg text-body">
                {{ post.content|linebreaksbr }}
            </article>
        </div>
    </div>
</div>
{% endblock %}