.nav-logo {
    border-radius: 50%;
    height: 50px;
}

body,
html {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    overflow: hidden;
}


table td,
table th {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.table-scroll {
    border-radius: .5rem;
}

thead {
    top: 0;
    position: sticky;
}

.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    width: 50px;
    /* Set a fixed width */
    height: 50px;
    /* Set a fixed height */
}

.btn-icon i {
    font-size: 1.5rem;
    /* Adjust icon size */
}